---
layout: default
---
<div class="slogan clearfix">
    <p>A curated showcase of Spotify playlists</p>
</div>
<div class="img-grid clearfix">{% for image in site.data.playlists %}
  <filterhold>
  <div class="img-container {{ image.col-size }} {{ image.type }}">
    <a href="{{ image.full_path }}" target="_blank"><img class="lazyload" data-src="{{ image.image_url }}" alt="image"></a>
    <p class="tags">{{ image.tags }}</p>
  </div>
  </filterhold>{% endfor %}
  <footer>
    <h1>Built and curated by <a href="https://ryanmaynard.co/about">Ryan Maynard</a>.</h1>
  </footer>
</div>
