<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | strip_newlines }}{% endif %}">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,100' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/ico" href="\media\favicons\favicon.ico" />
    <link rel="shortcut icon" type="image/ico" href="\media\favicons\favicon.ico" />
    <script async src="/js/lazysizes.min.js"></script>
</head>
