::-webkit-scrollbar 
    display: none

.header
    background-color: $header-bg
    position: fixed
    top: 0
    width: 100%
    z-index: 40
    height: 50px
    padding: 5px 5px 5px 8px


    .page-content:after
        content: ""
        position: absolute
        z-index: -1
        left: 0
        width: 38%
        height: 0

    h1
        display: inline
        font-family: $font-head
        color: $header-text-color
        position: absolute
        font-weight: 100
        margin-top: 5px
        margin-left: 2em

    img
        // display: inline
        // position: absolute
        width: 10em
        margin-top: 4px
        margin-left: 2em
        box-shadow: none

    .nav
        list-style: none
        float: right
        font-family: $font-main
        margin-top: 3em
        font-size: 1em

        li
            display: inline-block
            padding: 0em 2em

            a
                text-decoration: none
                color: $header-text-color