<!DOCTYPE html>
<html>  {% include head.html %}
<body>
  <div class="header clearfix">
    <div>
      <img src="/media/logo.png" alt="Chattanooga Mixtape">
      <ul class="nav">
        <li><a href="">Submit</a></li>
        <li><a href="https://gitlab.com/ryanmaynard/mixtape">GitLab</a></li>
        <li>
          <form>
            <input type="text" class="filter" placeholder="Search" />
          </form>
        </li>
      </ul>
    </div>
  </div>
  <div class="page-content">    {{ content }} 
  </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="/js/quicksearch.js"></script>
    <script type="text/javascript" src="/js/analytics.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('a').each(function(){
        $(this).attr('target','_blank');
      });
      $('input.filter').quicksearch('.img-grid filterhold');
      //$('input.filter').focus();
      });
    </script>
</body>
</html>
